body{
    background-color: #f9f9fd;
}
.page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    background-color: #607d8b;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.menu{
    margin: 0;
    list-style:none;
    background-color: #2196f3;
    display: flex;
    padding: 15px;
    border-radius: 4px;
}
.logo{
    background-color: aqua;
    padding: 15px;
    color: beige;
    text-decoration: none;
    border-radius: 4px;
}
.menu > .item:not(:last-child){
    margin-right: 10px;
}
.menu .link{
    display: block;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    background-color: #fff;
}
.menu .link:hover,
.menu .link:focus,
.logo:hover,
.logo:focus{
    text-decoration: underline;
}
/* Техника создания "сеток" */
.container{
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.card-set{
    display: flex;
    /* Делаем Flex-контейнет многострочным */
    flex-wrap: wrap;
    /* Компенсируем маржины элементов */
    margin-left: -10px;
    margin-top: -10px;
    padding: 0;
    list-style: none;
}
.item{
    padding: 10px;
    /* Задаём всем элементам маржины слева и сверху */
    margin-left: 10px;
    margin-top: 10px;
    /*  Задаём ширину элементов  */
    flex-basis: calc((100% - 30px) / 3);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
.item h1{
    margin-top: 0;
    font-size: 20px;
    }
.item p{
    margin: 0;
}
